@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* ========================================================================================== 
                                        >> AG Grid
 ========================================================================================== */

 /* .ag-theme-alpine .ag-root-wrapper,
 .ag-theme-alpine .ag-header,
 .ag-theme-alpine .ag-floating-bottom,
 .ag-theme-alpine .ag-header-row:not(:first-child) .ag-header-cell,
 .ag-theme-alpine .ag-pinned-left-header,
 .ag-theme-alpine .ag-cell {
   border: none;
 }
 .ag-theme-alpine .ag-cell,
 .ag-theme-alpine .ag-header-cell {
  font-family: "Poppins", Helvetica, sans-serif;
 }
 .ag-theme-alpine .ag-header-cell {
   padding: 10px 20px;
   font-weight: 600;
   font-size: 15px;
   line-height: 40px;
 }
 
 .ag-theme-alpine .ag-header,
 .ag-theme-alpine .ag-row-odd {
   background-color: transparent;
 }
 
 .ag-theme-alpine .ag-header-row:not(:first-child) .ag-header-cell,
 .ag-theme-alpine .ag-header-cell {
   border-bottom: 1px solid #DDE2EB;
 }
 
 .ag-theme-alpine .ag-paging-panel {
   border-top-color: #DDE2EB;
 }
 
 .ag-theme-alpine .ag-row {
   height: 62px;
   border-left: 3px solid transparent;
 }
 
 .ag-theme-alpine .ag-row-hover {
   border-left-color: #64b818;
   background-color: #fcfcfc;
 }
 
 
 .ag-theme-alpine .ag-cell {
   line-height: 60px;
 }
 
 .ag-theme-alpine .ag-cell,
 .ag-theme-alpine .ag-cell .bg-transparent {
   color: #484242;
 }
 
 .ag-cell .btn-normal:last-child {
   margin-right: 0;
 }
 
 .ag-cell .btn-normal {
   padding: 8px;
   font-size: 12px;
 }
 
 .nav-tabs .nav-link {
   padding: 1rem 1rem;
 }
 
 .ag-cell-value img {
   width: auto;
   max-height: 45px;
 }

 .ag-root-wrapper {
  border-radius: 6px;
  box-shadow: 0 0 10px 0 #0001;
  border-color: #0001 !important;
}
.ag-header-cell,
.ag-header {
 border-color: #0001 !important;
}
.ag-row-odd,
.ag-header {
 background-color: #edf0f4 !important;
} */


.text_felid input {
  width: 100%;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #fff;
  height: 40px;
  border: 1px solid #ccc;
}
.text_felid label{
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.text_felid{
  margin-bottom: 15px;
}
.text_felid input:disabled,
.text_felid2.disabled{
  background-color: #0001;
}
.text_felid2 input:disabled  {
  background-color: transparent;
}
.text_felid2 {
  border: 1px dashed #ccc;
  border-radius: 5px;
}
.text_felid2 input{
  border:0;
  border-radius:5px 0 0 5px !important;
  padding-left: 6px;
}

.text_felid textarea:focus,
.text_felid input:focus {
  border-color: #29358d;
}

/*=================*/
.selection_felid.error label,
.text_felid.error label,
.error.mb-0 label {
  color: #dc3545;
  margin-bottom: 4px;
}

.text_felid.error textarea,
.text_felid.error input:not(.text_felid2.error input),
.text_felid2.error
 {
  border: 1px solid #dc3545;
}
.text_felid2.error {
  border-style: dashed;
}
.selection_felid.error > div {
  border: 1px solid #dc3545;
  border-radius: 5px;
  padding-bottom: 0;
}
.selection_felid label i, .text_felid label i {
  margin-right: 5px;
}